<html>
    <head>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/views/assets/js/login.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>Bem vindo!</h1>
        <h1><%= loginData.name %></h1>
    </body>
            <style>
            body {
                background-color: blue;
            }

            h1 {
                text-align: center;
                margin-top: 15%;
                font-size: 60px
            }
        </style>
</html>