<!DOCTYPE html>
<html>
    <head>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/views/assets/js/login.js" type="text/javascript"></script>
    </head>
    <body>
        <h1 class="w3-text-blue">ACESSAR</h2>
        <div  id = "mainDiv">

            <div id="loginDiv">
                <label class="w3-text-blue">login</label>
                <input class="w3-input w3-border" name="uname" type="text"> </p>
            
                <label class="w3-text-blue" id = "pass">Senha</label>
                <input class="w3-input w3-border" name="pass" type="text" id ="upass"></p>
            </div>

            <div id="regDiv">
                <button class="w3-btn w3-blue" id="criarConta">Criar Conta</button></p>
            </div>

        </div>
    </body>
    <style>
            body {
                background-color: blue;
            }

            h1 {
                text-align: center;
                margin-top: 5%;
                font-size: 60px;
            }
            label {
                text-align: center;
                font-size: 15px;
                font-weight: 100;
            }
            input {
                display: inline-block;
                margin-left: 40em
            }
    </style>
</html>