<!DOCTYPE html>
<html>
    <head>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src = "/views/assets/js/login.js" type="text/javascript"></script>
    </head>
    <body>
        <h2 class="w3-text-blue">CRIAR CONTA</h2>
        
        <label class="w3-text-blue"><b>Nome</b></label>
        <input class="w3-input w3-border" id="uname"  name="uname" type="text">
        
        <label clas="registrar">Email</label>
        <input class="email-input" id="email" name="email" type="text">
        
        <label class="w3-text-blue"><b>Senha</b></label>
        <input class="w3-input w3-border" id="upass" name="pass" type="text">
        
        <button class="w3-btn w3-blue" id="regForm">Register</button>
    </body>
</html>